form{
    margin:0px;
    padding:0px;
}

.formaBuscar{

    padding:10px 20px;
}


.terminoBox{
    display: grid;
    grid-template-columns: 1fr 5rem;
    gap:10px;
}
.terminoBox input[type='text']{
    border:#aaa 1px solid;
    border-radius:9px;
    font-size:1.2rem;
    color:#999;
    padding:.5rem 2rem;
    background:#fff;
    min-width:80px;
}
.terminoBox input[type='submit']{
    padding:.5rem .2rem;
}

#MuestraFecha{
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color:#666;
    font-size:1.1rem;
    text-decoration: none;
    padding:.4rem 1rem;
    border:#999 2px solid;
    border-radius:5px;
    box-shadow: #ddd 0px 0px 2px;
    background-color: #eee;
}
label[for='fechas']{
    margin:30px 0px 0px 0px;
}

.AvanzadosSet{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: start;
    margin:20px 0px 0px 0px;
}
.AvanzadosSet fieldset{
    padding:5px 20px 20px 20px;
    text-align:left;
}
.AvanzadosSet legend{
    font-size:1.1rem;
    font-weight: bold;
    color:#666;
    margin:0;
    letter-spacing: 1px;
}
.AvanzadosSet label{
    color:#666;
    display:block;
}


.Avanzados{
    display:none;
}


.fechasNotas{
    font-size:.85rem;
    color:#999;
}

.fechasBox{
    text-align:center;
}
.divFechas{
    height:5px;
}
#fechas{
    opacity:0;
    filter:"alpha(0)";
    height:5px;
    font-size:3px;
}

a.toggleLink{
    font-size:1.1rem;
    color:#993333;
    text-decoration:underline;
    text-underline-offset: .2em;
    cursor:pointer;
}



.checkpair{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    column-gap:10px;
    margin:0px 0px 10px 0px;
    cursor:pointer;
}
.checkpair.sub{
    margin:0px 0px 10px 20px;
    font-size:.9rem;
   
}
.checkpair label{
    margin:0px;
    padding:5px 0px;
}
.checkpair.sub label{
    color:#999;
    padding:2px 0px;
}
input[type='checkbox']{
    border:#111 1px solid;
    width:20px;
    height:20px;
}
.checkpair.sub input[type='checkbox']{
    border:#111 1px solid;
    width:17px;
    height:17px;
}

.nuevo{
    font-size:1.4rem;
    padding:.5rem 1%;
    cursor:pointer;
    margin-bottom:1rem;
}


.estatusFlags{
    position:absolute;
    top:-6px;
    right:10px;
    vertical-align: top;
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}


.Pedido{
    margin:10px 5px 20px 0px;
    padding:30px 20px 20px 20px;
    border:#ccc 1px solid;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: #999 1px 2px 5px;
    background-color: #fff;
    position:relative;
}
.Pedido .estatus{
display:inline-block;
margin-left:5px;
border-bottom:#fff 1px solid;
border-right:#fff 1px solid;
border-bottom-right-radius: 11px;
box-shadow: #ccc 2px 2px 3px;
padding:2px 4px 2px 32px;
background:green;
color:#fff;
font-size:.9rem;
background-size: auto 70%;
background-position: top 5px left 5px;
background-repeat: no-repeat;
}
.Pedido .estatus.main{
    box-shadow: #666 3px 3px 5px;    
    padding:6px 9px 6px 36px;
    border:#aaa 1px solid;
    background-position: top 7px left 8px;
    margin-left:20px;
}
.Pedido .estatus.E1{
    background-color:#999;  
    background-image: url(icon_status_1.png);
}
.Pedido .estatus.E2{
    background-color:#8f4183;  
    background-image: url(icon_status_2.png) ;
}
.Pedido .estatus.E3{
    background-color:#88cc88;  
    background-image: url(icon_status_3.png);
}
.Pedido .estatus.E4{
    background-color:#45981e;  
    background-image: url(icon_status_4.png);
}
.Pedido .estatus.E5{
    background-color:#32977c;  
    background-image: url(icon_status_5.png) ;
}
.Pedido .estatus.E6{
    background-color:#2a712a;  
    background-image: url(icon_status_6.png);
}
.Pedido .estatus.E7{
    background-color:#7c1c27;  
    background-image: url(icon_status_7.png) ;
}
.Pedido .estatus.E8{
    background-color:#669966;  
    background-image: url(icon_status_8.png) ;
}
.Pedido .estatus.E9{
    background-color:#7f5613;  
    background-image: url(icon_status_9.png);
}


.Pedido .granliga{
display: block;
}
.Pedido .Elementos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "main cli fab par sm  ." 
    "sec  suc fab par sm  .";
    align-items: start;
    gap:4px;
}
.Pedido .datito{
    font-size:1rem;
    font-weight: bold;
    color:#666;
}
.Pedido label{
    display:block;
    font-size:.8rem;
    font-weight: normal;
    letter-spacing: 1px;
}

.Pedido .detalles{
    font-size:.8rem;
    font-weight:normal;
}
.Pedido .detalles p{
margin:.0 0;
padding:.2rem 0;
line-height: 1.2;
color:#222;
}
.Pedido .head{
    color:#999;
    font-weight: normal;
    letter-spacing: 1px;
}

    .Elementos [rel='main']{
    grid-area:main;
    font-size:1.1rem;
    }
    .Elementos [rel='sec']{
        grid-area:sec; 
        font-size:1.1rem;
    }
    .Elementos [rel='sucursal']{
        grid-area:suc;
    }
    .Elementos [rel='cliente']{
        grid-area:cli;
    }
    .Elementos [rel='mas']{
        grid-area:mas;
    }
    .Elementos [rel='edit']{
        grid-area:ed;
    }
    .Elementos [rel='icons']{
        grid-area:ico;
    }
    
    .Elementos [rel='fab']{
        grid-area:fab;
    }
    .Elementos [rel='par']{
        grid-area:par;
    }
    .Elementos [rel='sm']{
        grid-area:sm;
    }

    .SuperElementos{
        display:grid;
        grid-template-columns: 1fr 4rem;
    }


    .Elementos [rel='mas'] a{
        display:inline-block;
        padding:.2rem .5rem .4rem .5rem;
        font-size:.9rem;
        text-decoration:none;
        color:#444;
        border:#999 1px solid;
        border-radius:7px;
    }
    .conIconos{
        align-self: flex-end;
    }

    a.editar{
        display: inline-block;
        background-image: url(btn_editar.png);
        background-position: top 8px left 6px;
        background-size:auto 22px ;
        background-repeat: no-repeat;
        padding:8px 9px 6px 32px;
        font-size:20px;
        text-decoration:none;
        color:#666699;
        border:#666 3px solid;
        border-radius:7px;
        letter-spacing: 1pt;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0;
    }


.iconSet{
    display:flex;
    justify-content: flex-end;
    align-items:start;
    gap:8px;
}
.iconSet a{
    box-shadow: #eee 0px 1px 2px;
    width:30px;
    height:30px;
    background-color: burlywood;
}

.iconSet a.parciales{
    background: url(iconf_parciales.png) no-repeat top left;
    background-size: 80% 80%;
    background-position: top 4px left 4px;
}
.iconSet a.ordenf{
    background: url(iconf_ordenf.png) no-repeat top left;
    background-size: 80% 80%;
    background-position: top 4px left 4px;
}
.iconSet a.smaterial{
    background: url(iconf_smaerial.png) no-repeat top left;
    background-size: 80% 80%;
    background-position: top 4px left 4px;
}.iconSet a.notas{
    background: url(iconf_notas.png) no-repeat top left;
    background-size: 80% 80%;
    background-position: top 4px left 4px;
}
.iconSet a.historial{
    background: url(btn_historial.png) no-repeat top left;
    background-size: 80% 80%;
    background-position: top 4px left 4px;
}


.EsquinaOrigen{
background-image: url(diagonal_esquina.png);
background-position: top left;
width:70px;
height:40px;
vertical-align: top;
text-align: left;
color:#aaa;
font-weight:bold;
font-size:1.6rem;
padding:2px 0px 0px 6px;
position:absolute;
top:0;
left:0;
}


.InfoBox{
    min-height:40vh;
    max-height:70vh;
    overflow-y: auto;
}
.InfoTR{
    display:grid;
    grid-template-columns: 10rem 8rem  8rem 1fr;
    margin-bottom:2px;
    align-items: center;
    background: #f4f4f4;
}
.InfoTR .th{
    background: #444;
    color:#eee;
    font-weight: bold;
}
.InfoTR .td{
    
    color:#666;
    font-weight:normal;
}
.InfoTR .td span{
    display:none;
}



.filtrosIcon{
    display:none;
    margin:0px 20px 0px 0px;
    padding:.1rem 0;
    text-align: center;
    width:1.6rem;
    height:1.6rem;
    font-size:1.2rem;
    font-weight: bold;
    color:#663333;
    border:#222 1px solid;
    border-radius:2rem;
    box-shadow: #999 2px 2px 4px;
    background-color: #eee;
}


.btnGrande{
    font-size:1.2rem;
    padding:.5rem 1rem;
    height:2.4rem;
    cursor:pointer;
}




@media screen and (max-width:700px) {
    
    .Pedido .Elementos{
        display:grid;        

        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "main cli" 
        "sec  suc"
        "fab par"
        "sm .";
    }

    a.editar{
        padding:8px 5px 6px 30px;   
        font-size:18px;
    }

#dialogoWrapper #dialogo{
    width:90vw;
}

    .InfoTR{
        display:flex;
        justify-content: flex-start;
        gap:10px;
        flex-wrap: wrap;
        border:#ccc 1px solid;
        margin-bottom:12px;
        background: #f4f4f4;
    }
    .InfoTR .th{
        display:none;
    }
    .InfoTR .td{
        background: #f4f4f4;
        color:#666;
        font-weight:normal;
    }
    .InfoTR .td span{
        display:block;
        text-align: left;
        font-weight:bold;
        color:#999;
    }


}


@media screen and (max-width:560px) {

    .formaBuscar{

        padding:10px 0px;
    }
    
    .Pedido{
        margin-right:0px;
    }

    .Pedido .SuperElementos{
        grid-template-columns: 1fr;

    }
    .Pedido .Elementos{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "main cli" 
        "sec  suc"
        "fab par"
        "sm .";
        margin-top:2rem;
        row-gap: 12px;
        column-gap:8px;
    }
    .iconSet{
        justify-content: center;
        gap:10px;
    }

    .Elementos [rel='mas'] a{
        padding:.2rem .2rem .4rem .2rem;    
    }

    a.editar{
        padding:8px 4px 6px 28px;   
        font-size:16px;
        letter-spacing: auto;
    }

  


    

}