.main-panel > .content{
    margin-top: 10px;
}
.headersub{
    padding:10px 15px;
    background: linear-gradient(60deg, #545759, #C72029);
    margin:-10px 20px 0px 20px;
    box-shadow: #aaa 2px 2px 8px;
    color:#fff;
    font-weight: bold;
    font-size:1.2rem;
    letter-spacing: 1pt;
}

.MiniInfo{
    font-size: 1rem;
    color:#333;

    margin:0px 20px 5px 20px
}
.MiniInfo div{
    margin:0px 0px .2rem 0px;
    display:grid;
    grid-template-columns: 9rem 1fr;
}


.MainInfo{
    display:none;
    margin:0px 20px 20px 20px
}

.MiniInfo .block{
    display:block;
}
.MiniInfo label{
    font-weight: bold;
}

.padded{
    margin-left:20px;
    margin-right:20px;
}


.Eleccion{
    row-gap: 30px;
    column-gap:20px;
    justify-content: center;
    margin:20px 0px;
}
.Eleccion .Tipo{
    padding:.4rem .8rem;
    color:#666;
    font-size:1rem;
    cursor: pointer;
}
.Eleccion .Tipo.activo{
background: #666;
color:#eee;
}


.Eleccion .Accion{
    padding:.3rem .6rem;
    color:#666;
    font-size:1.1rem;
    font-weight: bold;
    cursor: pointer;
    border:#444 2px solid;
    border-radius:3px;
    box-shadow: #666 2px 2px 4px;
    transition: background-color ease-in 400ms;
}
.Eleccion .Accion.activo{
background-color: #666;
color:#eee;
}


.Candidato{
    padding:.3rem .6rem;
    color:#666;
    font-size:1.1rem;
    font-weight: bold;
    cursor: pointer;
    border:#444 2px solid;
    border-radius:3px;
    box-shadow: #666 2px 2px 4px;
}


.Accion.subp{
    background-color: #f0f6f0;
}

#AccionSection{
    margin:20px 0px;
}
#AccionSection form{
    text-align:center;
}
.AccionForm{

    text-align:left;
    margin:0px auto;
}

a.cancelar{
    padding:.4rem 1.2rem;
    color:#bb4444;
    font-size:1.1rem;
    font-weight: normal;
    cursor: pointer;
    border:#cc4444 2px solid;
    border-radius:3px;
}

.Pareja{
    display:grid;
    grid-template-columns:50% 50%;
    gap:20px;
    align-items:flex-start;
    margin: 20px auto 10px auto;
    max-width:40rem;

}


.regresar{
    font-size: 1.3rem;
    font-weight: bold;
}


.SubAccion{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
}
.SubAccion button{
    padding:.3rem .5rem;
    color:#666;
    font-size:1.21rem;
    font-weight: bold;
    cursor: pointer;
    border:#444 2px solid;
    border-radius:3px;
    box-shadow: #666 2px 1px 2px;
    transition: background-color ease-in 200ms;
}
.SubAccion button.activo{
    background-color: #666;
    color:#eee;
}


.Tiposet{
    padding:20px;
}
.Tiposet dl{
  display:grid;
  grid-template-columns: 9rem 1fr;
  gap:20px;
}
.Tiposet dl input{
    width:100%;
}
.Tiposet textarea{
    width:100%;
}

.Tiposet.or{
    display:none;
}


.FormRow{
    display:grid;
    grid-template-columns: 9rem 1fr;
    margin:0px 0px .5rem 0px;
}

.BigEstatus{
    padding:.6rem 1rem;
    background: #eee;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px auto;
    border-radius:25px;
    border:#fff 3px double;
    letter-spacing: .1rem;
    width:34vw;
}
.BigEstatus span{
    font-size:1.5rem;
    color:#222;
    text-align:center;
}

.BigEstatus.E1{
    background:#bbb;  
    background: linear-gradient(0deg, #bbbbbb 0%, #bbbbbb 50%, #dddddd 100%);
}
.BigEstatus.E2{
    background:#903282;  
    color:#fff;
    background: linear-gradient(0deg, #903282 0%, #903282 50%, #a04292 100%);
}
.BigEstatus.E2 span{ color:#fff;}
.BigEstatus.E3{
    background:#88cc88;  
    background: linear-gradient(0deg, #88cc88 0%, #88cc88 50%, #A8EcA8 100%);
}
.BigEstatus.E4{
    background:#45981e;  
    background: linear-gradient(0deg, #45981e 0%, #45981e 50%, #65B83e 100%);
}
.BigEstatus.E4 span{ color:#fff;}

.BigEstatus.E5{
    background:#32977c;  
    background: linear-gradient(0deg, #32977c 0%, #32977c 50%, #52B79c 100%);
}
.BigEstatus.E5 span{
    color:#fff;
}
.BigEstatus.E6{
    background:#2a712a;  

    background: linear-gradient(0deg, #2a712a 0%, #2a712a 50%, #4a914a 100%);
}
.BigEstatus.E6 span{    color:#fff;}

.BigEstatus.E7{
    background:#7c1c27;  
    color:#fff;
    background: linear-gradient(0deg, #7c1c27 0%, #7c1c27 50%, #9c3c47 100%);
}
.BigEstatus.E7 span{    color:#fff;}
.BigEstatus.E8{
    background:#4a80d7;  
    background: linear-gradient(0deg, #4a80d7 0%, #4a80d7 50%, #6aA0F7 100%);
}
.BigEstatus.E9{
    background:#c27568;  
    background: linear-gradient(0deg, #c27568 0%, #c27568 50%, #E29588 100%);
}


.Proceso{
    margin:20px 20px;
    padding:0px 20px 20px 20px;
    border-bottom: #666 2px dashed;
}


.Parcial{
display:grid;
grid-template-areas: "inv st ed" "fi fi fi";
margin:0px 0px 20px 0px;
padding:10px 20px;
border-bottom:#aaa 1px dashed;
font-size:1.2rem;
}
.Parcial label{font-size:1.2rem;}
.Parcial [rel='inv']{grid-area:inv;}
.Parcial [rel='st']{grid-area:st;}
.Parcial [rel='ed']{grid-area:ed;}
.Parcial [rel='fi']{grid-area:fi;}




.Subproceso{
    display:grid;
    grid-template-columns: 1fr 1fr 8rem;
    grid-template-areas: "inv st ed" "fi fi fi";
    margin:0px 0px 10px 0px;
    padding:6px 20px;
    border-bottom:#aaa 1px dashed;
    font-size:1.2rem;
    }
.Subproceso label{font-size:1.2rem;}
.Subproceso [rel='inv']{grid-area:inv;}
.Subproceso [rel='st']{grid-area:st; }
.Subproceso [rel='ed']{grid-area:ed; text-align:right;}
.Subproceso [rel='fi']{grid-area:fi;}



.hiddenDisclaimer{
    font-size:1.1rem;
    display:none;
}



/*
.editarparcial{
    display:inline-block;
    border:#666 2px solid;
    background: #fff;
    font-size:1.1rem;
    color:#333;
    border-radius:5px;
    padding:4px;
}
*/
.editarsubproceso{
    display:inline-block;
    border:#666 2px solid;
    background: #fff;
    font-size:1.1rem;
    color:#333;
    border-radius:5px;
    padding:4px;
}

.ErrorMsg{
    color:red;
    background-color: #eedddd;
}

.doscol{
    display: grid;
    grid-template-columns: 6rem 1fr;
    align-items: center;
}
.doscol label{
    font-size:1.1rem;    
}

.space-around{
    display:flex;
    justify-content: space-around;
}

.storageImg{

}
.storageImg img{
    max-height:140px;
}

.ScrollHistorial{
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding:20px 20px 0px 0px;
}
.TablaHistorial{
    width:100%;
}

.gridThree{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size:1.2rem;
    width:100%;
    align-items: center;
}
.gridThree span{
    padding:1px 10px;
}
.gridThree span.last{
   text-align:right; 
}

.flex-float{
    display:flex;
    justify-content: flex-start;
    row-gap: 5px;
    column-gap: 20px;
}


.MiniEstatus{
    display:inline-block;
    padding:.1rem .5rem;
    margin:0px;
    border-radius: .4rem;    
}
.MiniEstatus.E1{
    background:#bbb;  
    background: linear-gradient(0deg, #bbbbbb 0%, #bbbbbb 50%, #dddddd 100%);
}
.MiniEstatus.E2{
    background:#903282;  
    color:#fff;
    background: linear-gradient(0deg, #903282 0%, #903282 50%, #a04292 100%);
}
.MiniEstatus.E3{
    background:#88cc88;  
    background: linear-gradient(0deg, #88cc88 0%, #88cc88 50%, #A8EcA8 100%);
}
.MiniEstatus.E4{
    background:#45981e;  
    background: linear-gradient(0deg, #45981e 0%, #45981e 50%, #65B83e 100%);
    color:#fff;
}
.MiniEstatus.E5{
    background:#32977c;  
    background: linear-gradient(0deg, #32977c 0%, #32977c 50%, #52B79c 100%);
    color:#fff;
}
.MiniEstatus.E6{
    background:#2a712a;  
    background: linear-gradient(0deg, #2a712a 0%, #2a712a 50%, #4a914a 100%);
    color:#fff;
}
.MiniEstatus.E7{
    background:#7c1c27;  
    color:#fff;
    background: linear-gradient(0deg, #7c1c27 0%, #7c1c27 50%, #9c3c47 100%);
}
.MiniEstatus.E8{
    background:#4a80d7;  
    background: linear-gradient(0deg, #4a80d7 0%, #4a80d7 50%, #6aA0F7 100%);
}
.MiniEstatus.E9{
    background:#c27568;  
    background: linear-gradient(0deg, #c27568 0%, #c27568 50%, #E29588 100%);
}

.MiniEstatus.TE1{
    background:#e2b597;  
    background: linear-gradient(0deg, #e2b597 0%, #e2b597 50%, #ecd2c1 100%);
}
.MiniEstatus.TE2{
    background:#e4d68d;  
    background: linear-gradient(0deg, #e4d68d 0%, #e4d68d 50%, #efe6ba 100%);
}


.alGridset{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:20px;
}
.EditInternalScroll{
    max-height: 60vh;
    overflow-y: auto;
}
#monitorEditParcial{
    padding:.5rem 1rem;
    font-size:1.1rem;
    color:#333;
}
.monitorSm{
    padding:.5rem 1rem;
    font-size:1.1rem;
    color:#333;
}


@media screen and (max-width:600px) {
    
.Tiposet{
    padding:0px;
}

.Tiposet dl{
    display:grid;
    grid-template-columns: 6rem 1fr;
  }

  .BigEstatus{
    width:auto;
    padding:1rem 2rem;

  }
  .BigEstatus span{
    font-size:1rem;
  }


  .Subproceso{
    display:grid;
    grid-template-columns: 1fr 6rem;
    grid-template-areas: "inv ed" "st st" "fi fi ";
    padding:5px 10px;
    border-bottom:#aaa 1px dashed;
    font-size:1.1rem;
    }
    .Subproceso [rel='st']{grid-area:st; text-align:center;}
    .Subproceso [rel='ed']{grid-area:ed; text-align:center;}
    

    .gridThree{
        display:grid;
        grid-template-columns: 1fr 8rem;
        font-size:1.1rem;
        align-items: flex-start;
        grid-template-areas: "a c" "b c";
        
    }
    .gridThree .a{grid-area:a;}
    .gridThree .b{grid-area:b;}
    .gridThree .last{grid-area:c;grid-row: 1 / 3;}


}