.MiniInfo{
    font-size: .9rem;
    color:#999;

    margin:0px 20px 20px 20px
}
.MiniInfo div{
    margin:0px 0px .2rem 0px;
    display:grid;
    grid-template-columns: 9rem 1fr;
}


.MainInfo{
    display:none;
    margin:0px 20px 20px 20px
}




.FormRow{
    display:grid;
    grid-template-columns: 9rem 1fr;
    margin:0px 0px .5rem 0px;
}

.BigEstatus{
    padding:1rem 2rem;
    background: #eee;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px 40px;
    border-radius:15px;
    border:#fff 3px double;
}
.BigEstatus span{
    font-size:1.5rem;
    color:#222;
}
.BigEstatus.E1{
    background:#999;  
}
.BigEstatus.E2{
    background:#903282;  
}
.BigEstatus.E3{
    background:#88cc88;  
}
.BigEstatus.E4{
    background:#45981e;  
}
.BigEstatus.E5{
    background:#32977c;  
}
.BigEstatu.E6{
    background:#2a712a;  
}
.BigEstatus.E7{
    background:#7c1c27;  
}
.BigEstatus.E8{
    background:#669966;  
}
.BigEstatus.E9{
    background:#7f5613;  
}


